<footer>
	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<nav id="footermenu">
            <div class="menu-footer-menu-container">
              <ul id="menu-footer-menu" class="menu">
								<li{% if page.url == "/" %} class="current-menu-item"{% endif %}><a title="Home" href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
								{% include nav.html %}
              </ul>
            </div>
					</nav>
					<p id="legal">Registered representative offering securities through Independent Financial Group, LLC (IFG). Member <a href="http://www.finra.org/" target="_blank">FINRA</a>/<a href="http://www.sipc.org/" target="_blank">SIPC</a>. Michael T. Deboer &amp; Associates, Inc. and IFG are unaffiliated entities. OSJ Branch: 12671 High Bluff Dr. Ste 200 San Diego, CA 92130. Licensed to sell securities in the following states: FL, IL, MO, WA.<br><br>NOTE: Information posted here is from sources believed to be reliable however, we cannot guarantee or represent that it is accurate or complete.  When you click on a link to a third party website, you are leaving our site and assuming all responsibility for your use on these sites.</p>
					<p id="copyright">&copy; 2016 {{ site.company_name }} All rights reserved.</p>
				</div>
			</div>
		</div>
	</div>
</footer>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ "/dist/scripts/all.js?v=1" | prepend: site.baseurl }}"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-32321827-9', 'deboerandassociates.com');
  ga('send', 'pageview');
</script>
