<header>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="wrapper">
		  <div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
		    <a class="navbar-brand" href="{{ "/" | prepend: site.baseurl }}"><img id="logo" src="{{ site.imagebase }}/mtda_logo.png" alt="DeBoer &amp; Associates"></a>
		  </div>
		  <div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul id="menu-main-menu" class="nav navbar-nav navbar-right">
					{% include nav.html %}
				</ul>
		  </div>
		</div>
	</nav>
</header>
