<li{% if page.url == "/insurance/" %} class="current-menu-item"{% endif %}><a title="Insurance" href="{{ "/insurance/" | prepend: site.baseurl }}">Insurance</a></li>
<li{% if page.url == "/investments/" %} class="current-menu-item"{% endif %}><a title="Investments" href="{{ "/investments/" | prepend: site.baseurl }}">Investments</a></li>
<li{% if page.url == "/frequently-asked-questions/" %} class="current-menu-item"{% endif %}><a title="FAQs" href="{{ "/frequently-asked-questions/" | prepend: site.baseurl }}">FAQs</a></li>
<li{% if page.url == "/about/" %} class="current-menu-item"{% endif %}><a title="About" href="{{ "/about/" | prepend: site.baseurl }}">About</a></li>
<li{% if page.url == "/contact-us/" %} class="current-menu-item"{% endif %}><a title="Contact Us" href="{{ "/contact-us/" | prepend: site.baseurl }}">Contact Us</a></li>
