*,
html {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	padding-top: 100px;
	background-image: url('../images/backgrounds/fancy_deboss.png');
	background-position: center top;
	background-repeat: repeat;
	font-family: 'adelle', 'Helvetica', Arial, sans-serif;
}

.hide {
	display: none;
}

.logo {

	display: block;
	text-align: center;
	margin-bottom: 24px;

	img {
		width: 300px;
	}

}

a img {
	border: 0px;
	border-style: none;
}

img {
	max-width: 100%;
}

.wrapper {
	position: relative;
	max-width: 960px;
	margin: 0px auto;
	padding: 24px;
}

h1 {
	margin-bottom: 40px;
	font-size: 21px;
	text-align: center;
}

.map {
	float: left;
	margin-right: 40px;
	width: 50%;
	height: 200px;
}

.contact {
	font-size: 18px;
}

hr {
	clear: both;
	margin: 40px 0px;
	border-top-color: transparent;
}

.legal {

	font-size: 10px;

	&.large-disclosure {
		font-size: 12px;
	}

}

@media screen and (max-width: 959px) {

	.wrapper {
		max-width: 768px;
	}

}

@media screen and (max-width: 767px) {

	body {
		padding-top: 0px;
	}

	.wrapper {
		max-width: 400px;
		padding: 24px 12px;
	}

	h1 {
		margin-bottom: 20px;
	}

	.map {
		float: none;
		width: 100%;
		margin: 0px 0px 20px;
	}

	.logo img {
		width: 250px;
	}

	hr {
		margin: 20px 0px;
	}

}

@media screen and (max-width: 399px) {

	.wrapper {
		max-width: 100%;
	}

}

@media screen and (min-device-pixel-ratio: 1.25) {

	body {
		background-image: url('../images/backgrounds/fancy_deboss_@2X.png');
		background-size: 200px 200px;
	}

	.carousel-inner .item {
		background-image: url('../images/backgrounds/tweed_@2X.png');
		background-size: 200px 200px;
	}

}
