i.right {
	margin-left: 0.5em;
}

i.left {
	margin-right: 0.5em;
}

a.btn {
	text-decoration: none;
}

*,
html {
	margin: 0px;
	padding: 0px;
}

body {
	padding-top: 80px;
	background-image: url('../images/backgrounds/fancy_deboss.png');
	background-position: center top;
	background-repeat: repeat;
	font-family: 'adelle', 'Helvetica', Arial, sans-serif;
}

.hide {
	display: none;
}

a img {
	border: 0px;
	border-style: none;
}

img {
	max-width: 100%;
}

.mobileOnly {
	display: none;
}

.alignleft { text-align: left; }
.aligncenter { text-align: center; }
.alignright { text-align: right; }

.green {
	color: $green;
}

.red {
	color: $red;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wrapper {
	position: relative;
	max-width: 960px;
	margin: 0px auto;
}

.img-top {
	margin-top: 1em;
}

.img-bottom {
	margin-bottom: 1em;
}

iframe {
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'adelle', 'Helvetica', Arial, sans-serif;
}

h1 {
	font-size: 3em;
	font-weight: 300;
}

.navbar-brand {
	font-size: 12px;
}

nav ul {
	list-style-type: none;
}

header {
	text-transform: uppercase;
}

header nav.navbar {
	border-bottom-color: rgba(66,139,202,0.5);
	box-shadow: 0px 0px 8px $black-trans;
}

header #logo {
	vertical-align: middle;
	max-height: 50px;
}

header #menu-action {
	text-align: right;
}

header #menu-action .action-header {
	padding-left: 1em;
	text-align: left;
}

#home-carousel {
	clear: both;
}

section {
	clear: both;
}

section.nopad:first-of-type {
	margin-top: 0px;
}

section.withsubnav {
	margin-top: 140px;
}

section article ol,
section article ul {
	margin: 1em 0px 1em 2em;
}

section article p {
	margin-bottom: 1em;
}

section article ol:last-child,
section article ul:last-child,
section article p:last-child {
	margin-bottom: 0px;
}

section article hr {
	height: 1px;
	margin: 1em 0px;
	background: $black;
	border: 0px;
	border-style: none;
}

#share-bar {
	margin: 0.5em 0px;
}

.carousel-indicators li {
	background-color: $black;
}

.carousel-inner {
	background-image: url('../images/backgrounds/tweed.png');
	background-position: center top;
	background-repeat: repeat;
}

.carousel-inner .item,
.carousel-inner .item .wrapper {
	min-height: 300px;
}

.carousel-inner .item {
	color: $white;
	line-height: 1.2;
}

.carousel-inner .item a {
	color: $white;
}

#home-carousel .carousel-caption {
	padding-bottom: 45px;
}

#home-carousel .carousel-image {
	display: none;
	position: absolute;
	top: 30px;
	right: 0px;
}

#slider-general #general-benefits-button {
	margin-right: 1em;
}

#slider-general .carousel-caption {
	width: 100%;
	text-align: center;
}

#home-carousel #caduceus {
	height: 345px;
}

#home-carousel #signal {
	font-size: 25em;
}

.carousel-inner .slide-big-text {
	padding-top: 80px;
	margin-bottom: 20px;
	color: $white;
	text-align: center;
	font-size: 3em;
	line-height: 1.2;
	font-family: 'museo-sans', sans-serif;
	text-shadow: 0px 0px 8px $black-trans;
}

.carousel-inner .slide-sub-text {
	color: $white;
	text-align: center;
	font-size: 1em;
	line-height: 1.5;
	text-shadow: 0px 0px 8px $black-trans;
}

.carousel-inner #home-slide-mail-signup {
	margin: 20px 0px 0px;
	text-align: center;
}

.carousel-inner #home-slide-mail-signup #form-intro {
	font-size: 1.375em;
	text-shadow: 0px 0px 8px $black-trans;
}

.carousel-inner #home-slide-mail-signup input {
	vertical-align: top;
}

.carousel-inner .photo-caption {
	position: absolute;
	bottom: 1em;
	right: 0px;
	color: $white;
	font-size: 0.625em;
}

section#home .main-icon {
	font-size: 8em;
	line-height: 0.8;
}

section#home .main-icon.double {
	font-size: 6.5em;
	line-height: 1.25;
}

section#home .main-icon.double i {
	margin: 0px 0.25em;
}

footer {
	margin: 2em 0px 0px;
	padding: 0px 0px 2em;
}

footer .wrapper {
	padding-top: 1em;
	border-top: 1px solid rgba(66,139,202,0.5);
}

footer #footer-logo {
	vertical-align: middle;
	width: 130px;
	margin-right: 1em;
}

footer nav,
footer nav ul {
	display: inline;
}

footer nav ul li {
	display: inline;
	padding: 0px 1em;
	font-size: 0.875em;
	border-right: 1px solid rgba(66,139,202,0.5);
}

footer nav ul li:first-child {
	padding-left: 0px;
}

footer nav ul li:last-child {
	border-right: 0px;
}

footer nav ul li a {
	color: $gray;
	text-decoration: none;
}

footer #copyright,
footer #legal {
	margin-top: 1em;
	color: $gray;
	font-size: 0.75em;
}

#home-action-boxes .span4 {
	text-align: center;
}

#six-month-table,
#six-month-table th {
	background: $white;
	text-align: center;
}

#six-month-table td {
	vertical-align: middle;
}

.single-faq {
	margin-bottom: -90px;
	word-break: break-word;
}

.single-faq:last-of-type {
	margin-bottom: 0px;
}

.single-faq .faq-question {
	padding-top: 90px;
}

#faq-block {
	margin-top: -70px;
	padding-top: 70px;
}

.faq-list {
	margin-top: 35px;
	margin-bottom: -70px;
	column-count: 2;
}

.faq-list ul {
	margin-top: 0px;
}

#mutual-fund-list,
#annuities-list {
	column-count: 2;
}

#contactSuccessMessage {
	opacity: 0;
}

#quote-alert {
	margin-top: 1em;
	font-size: 1.5em;
}

.companies-list {
	list-style-type: none;
	margin: 0px 0px 1em;
}

.companies-list li {
	display: inline;
}

.companies-list img {
	vertical-align: middle;
	max-width: 150px;
	max-height: 100px;
	margin: 0.5em 2em;
}

.second-btn {
	margin-top: 12px;
}

@media screen and (min-width: 850px) {

	#home-carousel .carousel-image {
		display: block;
	}

	.carousel-caption h2 {
		font-size: 4em;
	}
}

@media screen and (min-width: 768px) {

	.navbar-nav {
		padding-right: 30px;
	}

	.carousel-caption p {
		font-size: 1.5em;
	}

	#mtda-summary {
		margin-top: 1em;
	}

	.navbar-nav > li > a {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.carousel-caption {
		left: 0%;
		right: 0%;
	}

	.carousel-indicators {
		bottom: 10px;
	}

}

@media screen and (max-width: 991px) {

	#health-faq-video {
		margin-top: 16px;
	}

	.first-btn {
		margin-top: 12px;
	}

}

@media screen and (max-width: 800px) {

	header #logo {
		max-height: 40px;
		margin-top: 7px;
	}

	.navbar-toggle {
		margin-top: 23px;
		margin-bottom: 23px;
	}

	.single-faq {
		margin-bottom: -75px;
	}

	.single-faq .faq-question {
		padding-top: 75px;
	}

}

@media screen and (max-width: 767px) {

	header #logo {
		max-height: 50px;
		margin-top: 0px;
	}

	section.withsubnav,
	section:first-of-type {
		margin-top: 1em;
	}

	img {
		max-width: 100%;
		height: auto;
		margin-left: 0px;
		margin-right: 0px;
	}

	img.small-top {
		margin-top: 16px;
	}

	img.small-bottom {
		margin-bottom: 16px;
	}

	.carousel-inner .item,
	.carousel-inner .item .wrapper {
		min-height: 0px;
	}

	.carousel-inner .item {
		padding-bottom: 50px;
	}

	.carousel-indicators li {
		width: 16px;
		height: 16px;
	}

	.carousel-indicators .active {
		width: 18px;
		height: 18px;
	}

	#home-carousel .carousel-caption {
		position: static;
		padding: 20px;
		text-align: center;
	}

	.carousel-control {
		display: none;
	}

	footer {
		text-align: center;
	}

	footer nav ul li {
		display: block;
		padding: 0px;
		border: 0px;
	}

	footer #footer-logo {
		display: block;
		max-width: 60%;
		margin: 0px auto 1em;
	}

	.faq-list {
		margin-bottom: -50px;
		column-count: 1;
	}

	#mutual-fund-list,
	#annuities-list {
		column-count: 1;
	}

}

@media screen and (max-width: 480px) {

	body {
		padding-top: 68px;
	}

	h1 {
		font-size: 2em;
	}

	header #logo {
		max-height: 38px;
	}

	.navbar-toggle {
		margin-top: 17px;
		margin-bottom: 17px;
	}

	.carousel-inner .item .btn {
		display: block;
		margin-left: 0px;
		margin-right: 0px !important;
	}

	.carousel-inner .item .btn:not(:first-child) {
		margin-top: 8px;
	}

}

@media screen and (min-device-pixel-ratio: 1.25) {

	body {
		background-image: url('../images/backgrounds/fancy_deboss_@2X.png');
		background-size: 200px 200px;
	}

	.carousel-inner .item {
		background-image: url('../images/backgrounds/tweed_@2X.png');
		background-size: 200px 200px;
	}

}
